header {
    background: black;
}

header .inner-header {
    max-width: 926px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
}