<div class="wrapper-footer">
    <footer>
        <div class="footer-left">

            <div class="redes-sociais">
                <span>Redes Sociais</span>
                <div class="display-icons">
                    <a href="#"><img src="img/instagram.png" /></a>
                    <a href="#"><img src="img/linkedin.png" /></a>
                    <a href="#"><img src="img/facebook.png" /></a>
                </div>
            </div>


            <div class="telefones">
                <span>Telefones</span>
                <a href="tel:+555435209000">+55 (54) 3520-9000</a>
            </div>


            <div class="localizacoes">
                <span>Localizações</span>
                <a href="https://maps.google.com/?q=Avenida+Sete+de+Setembro,+1621" target="_blank">
                    Avenida Sete de Setembro, 1621
                </a>
            </div>
        </div>

        <div class="logo">
            <a href="#"><img src="img/uri-logo.png" /></a>
        </div>
    </footer>
</div>