.wrapper-footer {
    background-color: #00668F;
}

footer {
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    max-width: 926px;
    margin: 0 auto;
}

footer .footer-left {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinha os itens no topo */
    width: 560px;
}

footer .redes-sociais, footer .telefones, footer .localizacoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .redes-sociais span, footer .telefones span, footer .localizacoes span {
    text-align: left; /* Alinhamento padrão à esquerda */
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

footer .redes-sociais a, footer .telefones a, footer .localizacoes a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.display-icons {
    display: flex;
    gap: 10px; /* Espaçamento entre os ícones */
}

footer .redes-sociais a img {
    vertical-align: middle; /* Alinha as imagens verticalmente com o texto */
}

footer .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .logo img {
    height: 50px;
    margin-top: 10px;
}

/* Ícones de Redes Sociais */
footer .redes-sociais i {
    color: white;
}

/* Ajuste para dispositivos móveis */
@media (max-width: 768px) {
    footer {
        flex-direction: row; /* Organiza os elementos em linha */
        justify-content: center; /* Centraliza a barra de ícones */
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        padding: 10px 35px;
    }

    footer .telefones, footer .localizacoes, footer .redes-sociais span {
        display: none;
    }

    footer .redes-sociais {
        display: flex;
        justify-content: center;
    }

    footer .redes-sociais .display-icons {
        gap: 20px;
    }

    footer .logo {
        margin-left: 20px;
    }
}

